{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/styles.css' %}">
    <title>Vote on {{ question.question_text }}</title>
</head>
<body>
    <header>
        <img src="{% static 'polls/banner.jpg' %}" alt="Banner" style="width: 100%;">
        <h1>{{ question.question_text }}</h1>
    </header>

    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Make your choice:</legend>
            {% if error_message %}
                <p style="color: red;"><strong>{{ error_message }}</strong></p>
            {% endif %}
            <ul>
                {% for choice in question.choice_set.all %}
                    <li>
                        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
                    </li>
                {% endfor %}
            </ul>
        </fieldset>
        <input type="submit" value="Vote">
    </form>
</body>
</html>